#block-contactpage {
  .contact-data, .locaties {
    margin-bottom: 30px;
    p {
      margin: 0;
      font-size: 0.8rem;
    }
    .address {
      margin-bottom: 20px;
    }
  }
  .gent, .mechelen {
    margin-bottom: 20px;
    p {
      &:first-child {
        font-weight: 600;
      }
    }
  }
  .map {
    iframe {
      width: 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $tablet) {
  #block-contactpage {
    .data {
      width: 55%;
      float: left;
    }
    .contact-data, .locaties {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
    }
    .gent, .mechelen, .address, .contact-person {
      width: 50%;
    }
    .map {
      width: 45%;
      float: right;
      iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
      }
    }
  }
}