.footer {
  border-top: none;
  background-color: $dark-grey;
  color: $white
}
@media (min-width: $tablet) {
  footer {
    .field--type-text-with-summary {
      float: left;
    }
    .field--name-field-afbeelding {
      float: right;
    }
  }
}
