.menu-is-open {
  position: fixed;
}
.heading-hero {
  background: url(../images/hero1.jpg) bottom no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  height: 80vh;
}
.heading {
  background-color: $dark-grey;
  background: url(../images/hero1.jpg) center no-repeat;
  background-size: cover;
}
.region-header {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  .logo {
    height: 90px;
    img {
      height: 90px;
      position: absolute;
    }
  }
  .navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.navbar-nav {
  display: none;
    li {
      &.active {
        font-weight: 600;
      }
      a {
        letter-spacing: 1px;
        color: $white;
      }
    }
}
.navbar-nav.is-visible {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: $dark-grey;
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  li {
    width: 100%;
    margin-bottom: 15px;
    a {
      font-size: 1.5rem;
      font-family: $font-family-oswald;
      &.is-active {
        font-weight: 500;
      }
    }
  }
}
.logo {
  height: 44px;
  margin-left: 15px;
}
.nav > li > a:hover,.nav > li > a:focus {
  background-color: transparent;
}
.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding-left: 25px;
  border-bottom: none !important;
  margin-top: 15px;
  .cd-menu-text {
    color: $white;
    display: none;
  }
  .hamburger-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 28px;
    height: 3px;
    background-color: $white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    z-index: 9999;
    &::before, &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $white;
      right: 0;
      -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
      -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
      transition: transform .3s, top .3s, background-color 0s;
    }
    &::before {
      top: -8px;
    }
    &::after {
      top: 8px;
    }
    &.is-clicked {
      background-color: rgba(255, 255, 255, 0);
      &::before, &::after {
        background-color: $white;
      }
      &::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &::after {
        top: 0;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
      }
    }
  }
}

@media (min-width: $tablet) {
  .logo {
    margin-left: 0;
  }
  .front-page {
    .field--name-field-afbeelding {
      margin-top: 45px;
    }
  }
}

@media (min-width: $desktop) {
  .front-page {
    .region-header {
      height: 100px;
      padding-top: 10px;
      .logo.navbar-btn {
        margin-top: 0;
        margin-bottom: 0;
        img {
          height: 130px;
          margin-top: 0px;
        }
      }
    }
    .navbar-nav {
      display: block;
      float: right;
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      transform: translateY(50%);
    }
  }
  .region-header {
    height: 150px;
    padding-top: 0;
    padding-bottom: 0;
    .logo.navbar-btn {
      margin-top: 0;
      margin-bottom: 0;
      img {
        height: 130px;
        margin-top: 10px;
      }
    }
  }
  .hamburger-menu {
    display: none;
  }
  .navbar-nav {
    display: block;
    float: right;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    li {
      &.active {
        font-weight: normal;
        &:after {
          content: "";
          position: absolute;
          left: calc(50% - 15px);
          bottom: 0;
          width: 30px;
          height: 1px;
          border-bottom: 3px solid $red;
        }
      }
      a {
        font-family: $font-family-oswald;
        font-size: 1.1rem;
        &:after {
          content: "";
          position: absolute;
          width: 30px;
          bottom: 0;
          left: calc(50% - 15px);
          border-bottom: 3px solid $red;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}