.hero {
  display: flex;
  flex-flow:wrap;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 60px);
}
.hero-content {
  text-align: center;
  color: $white;
  .sitename {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 1.3rem;
    position: relative;
    &:after {
      position: absolute;
      left: calc(50% - 50px);
      bottom: 0;
      width: 100px;
      height: 1px;
      border-bottom: 2px solid $white;
      content: ""
    }
  }
  .site-slogan {
    margin-bottom: 20px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    font-size:1.1rem;
    line-height: 26px;
  }
  .cta {
    margin-bottom: 35px;
    padding-top: 20px;
    &:after {
      content: "";
      width:24px;
      height:24px;
      background: white;
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Safari and Chrome */
      transform:rotate(45deg);
      position:absolute;
      bottom:-12px;
      left: 50%;
      margin-left: -12px;
    }
      a {
        padding: 10px;
        border: 1px solid $white;
        color: $white;
      }
  }
}

@media (min-width: $tablet) {
  .hero-content {
    .sitename {
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 2.5rem;
      &:after {
        width: 150px;
        left: calc(50% - 75px);
      }
    }
    .site-slogan {
      max-width: 37%;
      margin-right: auto;
      margin-left: auto;
      line-height: 35px;
      margin-bottom: 25px;
      font-size: 1.4rem;
    }
    .cta {
      margin-bottom: 80px;
      padding-top: 40px;
      a {
        padding: 20px;
        border: 1px solid;
      }
    }
  }
}

@media (min-width: $desktop) {
  .front-page {
    .region-header {
      padding-top: 50px;
    }
  }
  .region-header {
    padding-top: 20px;
    padding-bottom: 10px;  }
}