.view-lesgevers {
  margin-top: 45px;
  text-align: center;
  .view-content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .views-row {
      margin-bottom: 50px;
      .views-field-user-picture {
        img {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          border-radius: 100%;
        }
      }
      .views-field-name {
        font-size: $font-size-h3;
      }
    }
  }
}

@media (min-width: $desktop) {
  .view-lesgevers {
    .view-content {
      .views-row {
        width: 100%;
        .views-field-user-picture {
          img {
            margin-right: 50px;
            float: left;
          }
        }
        .views-field-name {
          float: left;
          width: 80%;
          text-align: left;
        }
        .views-field-field-beschrijving {
          float: left;
          width: 80%;
          text-align: left;
        }
      }
    }
  }
}
