.tabs {
  margin-top: 20px;
  font-family: $font-family-oswald;
}
.user-login-form, .user-pass {
  margin-bottom: 50px;
  font-family: $font-family-oswald;
  label {
    margin-bottom: 5px;
    &::after {
      height: 12px;
      background-repeat: no-repeat;
    }
  }
  input {
    max-width: 500px;
    border-radius: 0;
  }
  button {
    font-family: $font-family-karla;
    width: 200px;
    height: 40px;
    position: relative;
    z-index: 1;
    border-radius: 0 !important;
    border: 1px solid $red !important;
    background-color: transparent !important;
    color: $red !important;
    -webkit-transition: border-color 0.4s, color 0.4s;
    -moz-transition: border-color 0.4s, color 0.4s;
    -ms-transition: border-color 0.4s, color 0.4s;
    -o-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $red;
      z-index: -1;
      opacity: 0;
      -webkit-transform: scale3d(0.7, 1, 1);
      -moz-transform: scale3d(0.7, 1, 1);
      -ms-transform: scale3d(0.7, 1, 1);
      -o-transform: scale3d(0.7, 1, 1);
      transform: scale3d(0.7, 1, 1);
      -webkit-transition: transform 0.4s, opacity 0.4s;
      -moz-transition: transform 0.4s, opacity 0.4s;
      -ms-transition: transform 0.4s, opacity 0.4s;
      -o-transition: transform 0.4s, opacity 0.4s;
      transition: transform 0.4s, opacity 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

    }
    &:hover, &:focus {
      color: $white !important;
      border-color: $dark-grey;
      text-decoration: none;
      &::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}