.field--name-field-logo-partner-s- {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  .field--item {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: $tablet) {
  .field--name-field-logo-partner-s- {
    width: 80%;
    margin: 50px auto;
    .field--item {
      width: 33%;
    }
  }
}