.node--type-vorming {
  .group-left, .group-right {
    width: 100%;
    margin-bottom: 40px;
  }
  .field--label {
    font-family: $font-family-oswald;
    font-weight: 500;
  }
  .field--item, .field--name-field-omschrijving, .field--name-taxonomy-term-title h3 {
    font-family: $font-family-karla;
  }
  .group-right {
    .field--label {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: $font-size-p;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

@media (min-width: $tablet) {
  .node--type-vorming {
    .group-left {
      width: 65% !important;
      margin-right: 0 !important;
    }
    .group-right {
      width: 35% !important;
      padding-left: 5%;
    }
  }
}