.block-views-blockvormingen-block-teaser-vormingen {
  margin-top: 25px;
  h2 {
    font-size: $font-size-h2;
    margin-bottom: 20px;
  }
  .view-content {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 50px;
    .views-row {
      width: 100% !important;
      margin-bottom: 20px;
      border: 1px solid;
      padding: 35px 30px 30px 30px;
      background-color: $dark-grey;
      background: url(../images/vorming-teaser.jpg) no-repeat;
      background-size: cover;
      color: $white;
      line-height: 22px;
      .views-field-title {
        margin-bottom: 15px;
        text-transform: uppercase;
        span a{
          color: $white
        }
      }
      .views-field-field-data {
        margin-bottom: 70px;
        .field-content {
          padding: 5px 15px;
          background-color: $white;
          color: $black;
          display: inline-block;
        }
      }
      .views-field-view-node {
        margin-bottom: 20px;
        a {
          color: $white;
          padding: 10px 15px;
          border: 2px solid $white;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
    .block-views-blockvormingen-block-teaser-vormingen {
      margin-top: 60px;
      .view-content {
        justify-content: space-between;
        .views-row {
          width: 32% !important;
          margin-right: 0;
        }
      }
    }
}