.node--type-vorming {
  .group-left, .group-right {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet) {
  .node--type-vorming {
    .group-left {
      width: 65%;
    }
    .group-right {
      width: 35%;
      padding-left: 5%;
    }
  }
}